/* Contact Us Page */
.serviceBox1{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
   }
  .service-content1{
    background: #f3f0f0;
    border-bottom: 3px solid #0066b2 !important;
    border-radius: 3px 0 0 3px;
    padding: 18px 8px;
    width: 73% !important;
    margin: 10px 0;
    text-align: center !important;
    font-weight: 500 !important;
  }
  .service-icon1{
    background: #0066b2;
    border-bottom: 3px solid #0066b2;
    color: #ffffff;
    font-size: 25px;
    padding: 35px 0 0;
    text-align: center;
    width: 80px;
  }
  .service-content1 h3 {
    color: hsl(0, 0%, 7%);
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-weight: 600 !important;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5px;
  }
  .mappadns{
    padding-left: 15px!important;
    padding-right: 15px!important;
    }
  .form-div {
      padding: 60px 30px 2px 30px;
      background: transparent;
      border-radius: 10px;
      box-shadow: 0 0 5px rgb(0 0 0 / 36%);
  }
  
  
  .socialmediapostlink:hover{
    text-decoration-color: #0066b2;
  }
  .socialmediapostlink{
   text-decoration: underline;
   text-decoration-color: transparent;
   transition: 1s ease-in-out;
   cursor: pointer;
  }