.cards{
    display:flex;
    flex-direction:row;
    /* justify-Content:space-between; */
    justify-Content:center;

}
.CardMain{
    /* justify-content: center; */
    /* align-items: center; */
    /* align-self: center; */
    margin: 10px;
    width: 300px;
}
@media only screen and (max-width: 600px) {
    .cards{
        display: flex;
        flex-direction:column;
    }
    .CardMain{
        margin-top: 10px;
        margin-left: 0px;
        width: 250px;
    }
}
.headingDiet{
    color: linear-gradient(315deg, #63d471 0%, #233329 74%);
    font-family:lobster;
    text-align: center;
    font-size: 6rem;
    color: #233329;
}
.DietLean{
    background-color: #E0E0E0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.DietLeanHeading{
    font-weight: bold;
    color: #233329;
    font-family:'lobster';
    /* font-family:'Dancing Script'; */

}