body {
      background:
      linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ),
      url(../Images/videoapp/pic.jpeg);
      background-repeat:no-repeat;
      background-attachment: fixed;
      background-size:cover;
      background-position: center center;
      height: 100%;
  }

* {
    margin: 0;
    padding: 0;
}
