.App {
  text-align: center;
  background-color: #121212;

  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.formss {
  width: 50%;
  justify-content: center;
  /* border: solid 1px;
  border-color: #233329; */
  padding: 20px;
  color: white;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.formssP {
  /* background-color: #212121; */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
  height: 85vh;
}
.selection {
  /* background: #121212; */
  /* background-color: #212121; */
  /* background-color:#166d3b; */
  /* display: flex;
  flex-direction:row; */
  justify-content: center;
  height: 85vh;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
}
.selection2 {
  /* background: #212121; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  color: white;
  padding: 20px;
  width: 100%;
}
.userBox {
  display: "flex";
  flex-direction: "column";
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.61);
  box-shadow:0px 5px 20px  #63d471 inset;
  border-radius: 10px;
  /* border: solid 2px;
  border-color: red; */
  width: 30%;
  padding: 20px;
  margin-bottom: 20px;
  height: 350px;

}
@media only screen and (max-width: 600px) {
  .selection {
    height: 100%;
  }
  .selection2 {
    flex-direction: column;
  }
  .userBox {
    width: 100%;
  }
  .formss {
    width: 100%;
  }

  .formssP {
    padding: 10px;
  }
  .bms {
    flex-direction: column;
    padding: 20px;
  }
  .wordings {
    font-size: 1.5rem;
    padding: 15px;
  }
  .wordings2 {
    font-size: 1rem;
    padding: 15px;
  }
  .wordingsUserGain {
    font-size: 1rem;
  }
  .HeadingUserGain {
    font-size: 1.5rem;
  }
  .textarea {
    width: 100%;
    padding: 10px;
  }
  .textarea {
    font-size: 1rem;
    color: #000;
  }
  .text {
    font-size: 1rem;
  }
  .splashImage {
    width: 50%;
    height: 80%;
  }
  .main{
  object-fit:contain;
  width: 100%;
  height: 125%;
  background-image: url('./Images/bmi.jpg');
  background-Size: 100% 100%;
  }
}

.marquee {
  background-color: #63d471;
  background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
  height: max-content;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  opacity: 90%;
  /* padding: 20%; */
  /* border-radius: 5%; */
}
.monday {
  border-radius: 90%;
  text-align: center;
  /* font-weight: 600; */
  font-size: 1.8rem;
  padding: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: fit-content;
  color: white;
  background-color: #166d3b;
  background-image: linear-gradient(147deg, #166d3b 0%, #000000 74%);
}
.appbarjo {
  background-color: #121212;
}
.App-header {
  /* background-color: #233329; */
  /* background-color: white; */
  /* opacity: 30%; */
  /* background-color: transparent; */
  /* background-color: "rgba(255, 255, 255, 0.61)";
  border: 1px solid black;
  backdrop-filter: blur(10px); */
  display: flex;
  /* flex-direction: row; */
  /* align-items: left; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  font-weight: 600;
  text-align: center;
  /* width: 10; */
  /* font-size: 1.5em; */

  padding: 20px;
}
.App-link {
  color: #61dafb;
}

.text {
  font-size: 1rem;
  /* color:#121212; */
  color:#ffff;
}
.textarea {
  display: flex;
  padding: 30px;
  width: 100%;
  justify-content: center;
  color: whitesmoke;
  text-align: justify;
  flex-direction: column;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  font-style: oblique;
  font-size: 3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.splash {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  background-color: #212121;
  padding: 40px;
}
.buttonSplash:hover {
  background-color: #63d471;
}
.main{
  display:flex;
  flex-direction:column;
  /* // alignItems:center; */
  justify-content:center;
  /* background-color: #166d3b; */
  /* background-color: #485461;
  background: -webkit-linear-gradient(#28313b, #485461); */
  /* background-image: url(${imgs}); */
  background-image: url('./Images/Chor.jpg');
  background-Size: cover;
  object-fit:contain;
  background-repeat:no-repeat;
  background-position: center;
  
/* background-image: linear-gradient(315deg, #485461 0%, #28313b 74%); */
}